[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==23.1.0"
isort = "==5.12.0"
flake8 = "==6.0.0"
pre-commit = "*"
numpy = "*"
gymnasium = "*"
tqdm = "*"
matplotlib = "*"
pyright = "==1.1.296"
pettingzoo = "*"

[dev-packages]

[requires]
python_version = "3.10"
